{% extends "park_app/base.html" %}

{% block content %}


<header style=" color: #fff; text-align: center; padding: 1rem 0;">
    <h1>Bowling Green Parks and Recreation</h1>
    <p>Explore the beauty of our parks and recreation facilities!</p>
    <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/bgky/Downtown_BG_MrGupton_blog_4f1d9ef9-c351-4bbd-9745-1c044a076987.jpg" alt="Parks and Rec Image">
</header>

<div class="container">
    <h2>Mission</h2>
    <p>Our City Parks and Rec is dedicated to providing high-quality parks, facilities, and programs to enhance the quality of life for all residents and visitors.</p>

    <h2>Parks!</h2>
    <ul>
        <li>Fountain Square Park</li>
        <li>Ogden Park</li>
        <li>Covington Woods Park</li>
        <li>White Parks Inc</li>
        <li>Basil Griffin Park</li>
        <li>Hobson Grove Park</li>
        <li>...and so many more!</li>
    </ul>
    <p>The extensive list of Bowling Green parks host a range of activities such as disk golf, basketball, children's playgrounds, and outdoor gyms!</p>
    <img src="https://www.bgky.org/img/wide/980/ReeY9mkw.jpg" alt="Parks Img">

    <h2>Recreational Centers!</h2>
    <ul>
        <li>F.O. Moxley Community Center ($3/yr Membership)</li>
        <li>Parker-Bennett Community Center</li>
        <li>Kummer/Little Recreational Center ($3/yr Membership)</li>
    </ul>
    <p>For a VERY low annual membership you can enjoy indoor basketball courts, pools, ping-pong tables, billiards, and much more!</p>
    <img src="https://www.bgky.org/img/wide/980/ZnhOX053.jpg" alt="Recreation Img">

    <h2>Attractions!</h2>
    <ul>
        <li>Beech Bend Waterpark & Rides</li>
        <li>Russell Sims Waterpark</li>
        <li>Corvette Museum</li>
        <li>Civil War Discovery Trail</li>
        <li>Railroad Museum</li>
        <li>Aviation Heritage Park</li>
    </ul>
    <p>All of our attractions are rich in history and fun! Check these out if you are in Bowling Green, KY!</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRRZ4ugLjgijbJyq8vVfHyIqq_OzdGq1ofOonb-W2Csg&s" alt="Attractions Img">

    <h2>Contact Us</h2>
    <p>If you have any questions or need more information, feel free to contact us:</p>
    <p>Email: warrencountyparksandrec@gmail.com</p>
    <p>Phone: 270.842.5302</p>
</div>

{% endblock %}
